pin-depends: [
  ["dream-pure.dev"    "git+https://github.com/aantron/dream.git#006196fa0c957ea4f4aa3e949803b09cc1b3010b"]
  ["dream.dev"         "git+https://github.com/aantron/dream.git#006196fa0c957ea4f4aa3e949803b09cc1b3010b"]
  ["dream-mirage.dev"  "git+https://github.com/aantron/dream.git#006196fa0c957ea4f4aa3e949803b09cc1b3010b"]
  ["dream-httpaf.dev"  "git+https://github.com/aantron/dream.git#006196fa0c957ea4f4aa3e949803b09cc1b3010b"]
]